
{% extends '::base1.html.twig' %}

{% block body -%}
    <h1>Almacen Archivos y Directorios</h1>

    <div id="contenedor">
    <header id="cabecera_pri">
        <nav id="menu_pri">

        </nav>
    </header>
        <section id="seccion_pri">
            <article>
     <table id="tablon">
        <tr>
            <th>Archivo</th>
            <th>Ruta</th>
            <th>Opciones</th>
        </tr>
        <form>

        </form>
        <a href="{{ path('upload_file')}}"><img id="anadir" src="img/anadir.png">Añadir Archivo</a>
        <a href="{{ path('subir_dir')}}"><img id="anadir" src="img/anadir.png">Añadir Directorio</a>
        <a href="{{ path('salir')}}" id ="salir">Salir</a>
        {% for entity in archivos %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{#COMENTADO<a href="{{ path('archivo_edit', { 'id': entity.id }) }}">#}Editar / </a><a href="{{ path('archivo_eliminar', { 'id': entity.id }) }}">Eliminar / </a><a href="{{ path('archivo_descarga', { 'id': entity.nombre }) }}">Descargar</a></td>
            </tr>
        {% endfor %}
        {% for entity in subdirectorios %}
            <tr>
                <td><a href="{{ path('principal', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                <td>{{ entity.path }}</td>
                <td>{#<a href="{{ path('directorio_edit', { 'id': entity.id }) }}">#}Editar / </a><a href="{{ path('directorio_eliminar', { 'id': entity.id }) }}">Eliminar</a></a></td>
            </tr>
        {% endfor %}
            <!--Fila utilizada en el caso de realizar una busqueda
            <tr>
                <td></td>
                <td></td>
                <td></td>   
            </tr>
            -->
     </table>
            </article>
        </section>
    <aside id="menu_col">
        
    </aside>
    <footer id="pie"></footer>
</div>
    {% endblock %}
